[submodule "packages/zenburn"]
	path = packages/zenburn
	url = https://github.com/chrisdone/zenburn.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/chrisdone/magit.git
[submodule "packages/smex"]
	path = packages/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "packages/haskell-mode"]
	path = packages/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "packages/paredit"]
	path = packages/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule "packages/god-mode"]
	path = packages/god-mode
	url = https://github.com/chrisdone/god-mode.git
[submodule "packages/structured-haskell-mode"]
	path = packages/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "packages/ace-jump-mode"]
	path = packages/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el.git
[submodule "packages/elisp-slime-nav"]
	path = packages/elisp-slime-nav
	url = https://github.com/purcell/elisp-slime-nav.git
[submodule "packages/rainbow-mode"]
	path = packages/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "packages/ag"]
	path = packages/ag
	url = https://github.com/Wilfred/ag.el.git
